body {
        color: teal;
        background-color: black;

}

input {
    color: white;
    background-color: black;
}

.myDiv {
    color: blue;
    background-color: black;
}

.myDiv2 {
    color: dodgerblue;
    background-color: black;
}

.mySpan {
    color: lightskyblue;
    background-color: black;
}

.mySpan2 {
    color: lightblue;
    background-color: black;
}